body {
    font-family: 'Adobe Arabic', Arial, Helvetica;
    background:linear-gradient(to right, rgb(233, 25, 25) , rgb(0, 255, 191));
    text-align: center;
    color:rgba(0,0,0,0.5);
    text-transform: uppercase;
    top:15%;
    letter-spacing: 0.5em;
}
h1{
    font-size:3rem;
    letter-spacing: 0.5em;
    width:100%;
}
h3{
    text-align: center;
    color:rgba(0,0,0,0.5);
    text-transform: uppercase;
    top:15%;
    letter-spacing: 0.1em;
}